:root {
    --cooler-primary-0: #386641;
    --cooler-primary-1: #6a994e;
    --cooler-primary-2: #a7c957;
    --cooler-primary-3: #f2e8cf;
    --cooler-primary-4: #bc4749;
}

.primary-color-0 {
    color: var(--cooler-primary-0);
}

.primary-color-1 {
    color: var(--cooler-primary-1)
}

.primary-color-2 {
    color: var(--cooler-primary-2)
}

.primary-color-3 {
    color: var(--cooler-primary-3);
}

.primary-color-4 {
    color: var(--cooler-primary-4);
}

.bg-color-0 {
    background-color: var(--cooler-primary-0);
}

.bg-color-1 {
    background-color: var(--cooler-primary-1);
}

.bg-color-2 {
    background-color: var(--cooler-primary-2);
}

.bg-color-3 {
    background-color: var(--cooler-primary-3);
}

.bg-color-4 {
    background-color: var(--cooler-primary-4);
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#title {
    font-family: Molle, cursive;
}

a:link {
    color: var(--cooler-primary-3);
}

a.nav-link:visited, a:visited {
    color: var(--cooler-primary-2)
}

a.nav-link:hover, a:hover {
    color: white;
}

ul {
    list-style: none;
    font-size: 1.2rem;
}

h5 a {
    text-decoration: none;
}

h5 + p a {
    text-decoration: none;
}

[class="col-6"] li::before {
    content: "";
    background-image: url("images/52666-200.png");
    background-size: contain;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.7rem;
    background-color: var(--color-secondary-1-1);
    border-radius: 50%;
}

ul li {
    text-align: left;
    list-style-position: outside;
    margin-bottom: 15px;
    vertical-align: top;
}

#bq-box {
    background-color: var(--cooler-primary-3);
    padding: 0.5em 5em;
    width: 70%;
    color: var(--cooler-primary-0);
    border: 2px solid var(--cooler-primary-0);
    margin: 0 auto;
}

.blockquote-footer {
    color: var(--cooler-primary-3);
    padding: 1em 5em;
    margin-top: 0.5em;
    margin-bottom: 0;
}