:root {
    --color-primary-0: #FF4D48;	/* Main Primary color */
    --color-primary-1: #FF9A98;
    --color-primary-2: #FF706C;
    --color-primary-3: #F1241F;
    --color-primary-4: #BD0F0A;

    --color-secondary-1-0: #4359B5;	/* Main Secondary color (1) */
    --color-secondary-1-1: #8D9DDC;
    --color-secondary-1-2: #6174C4;
    --color-secondary-1-3: #263FA4;
    --color-secondary-1-4: #162B81;

    --color-secondary-2-0: #EEFC47;	/* Main Secondary color (2) */
    --color-secondary-2-1: #F6FD97;
    --color-secondary-2-2: #F2FC6B;
    --color-secondary-2-3: #DEED1E;
    --color-secondary-2-4: #ADBA0A;
}

* {
    margin: 0;
}

body {
    background-color: #202020;
    color: #5F5F5F;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Molle', cursive;
}

img {
    margin-top: 15px;
}

#banner {
    background-color: var(--color-primary-2);
    color: var(--color-primary-4);
    line-height: 2.5em;
    padding-top: 20px;
    padding-bottom: 10px;
}

#banner p {
    font-style: italic;
    font-size: 1.3em;
}

#img-caption {
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 10px;
}

#tribute-info {
    color: var(--color-secondary-2-1);
    text-align: left;
    width: 60%;
    margin: auto;
    line-height: 1.5rem;
}

#tribute-info h3 {
    color: var(--color-secondary-1-3);
    background-color: var(--color-secondary-1-1);
    text-align: center;
    padding: 10px 0;
    margin-top: 15px;
    margin-bottom: 10px;
}

a:link {
    color: var(--color-primary-1);
}

a:visited {
    color: var(--color-secondary-1-1);
}

a:hover {
    background-color: var(--color-primary-1);
    color: var(--color-primary-4);
}

ul {
    list-style: none;
    font-size: 1.2rem;
}

ul li::before {
    content: "";
    background-image: url("images/52666-200.png");
    background-size: contain;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    position: relative;
    top: 0.1rem;
    margin-right: 0.7rem;
    background-color: var(--color-secondary-1-1);
    border-radius: 50%;
}

ul li {
    list-style-position: outside;
    margin-bottom: 15px;
    vertical-align: top;
}